.front-top{
    height: 120px;
    padding: 35px 4% 0px 4%;
    background-color: white;
    position: fixed;
}
.front-top-button{
    color: black;
}
.front-top-button:hover{
    color: #626567;
}
.front-top-title{
    color: black;
}
.front-top-title:hover{
    color: #626567;
}
.front-middle{
    height: calc(100vh - 120px);
    padding: 120px 0px 0px 0px;
    background-color: white;
}
.front-bottom{
    height: 120px;
    padding: 20px 4%;
    background-color: white;
}
.front-bottom-button{
    color: black;
}
.front-bottom-button:hover{
    color: #626567;
}
.social-links-container{
    position: fixed;
}
.front-middle-title{
    color: black;
}


/* ABOUT PAGE */
.about-image{
    width: 150px;
    border-radius: 50%;
    margin: 10px calc(50% - 75px) 0px calc(50% - 75px);
}
.about-text{
    width: 50%;
    font-family: 'Alata', sans-serif;
    margin: 30px auto;
    text-align: justify;
    font-size: 17px;
}

/* NAV STYLES */
.top-line{
    border-left: 1px solid black;
}
.middle-line{
    border-left: 1px solid black;
}
.bottom-line{
    border-left: 1px solid black;
}